@CHARSET "ISO-8859-1";

body{
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
}
.header{
	height: 50px;
	background-color: rgba(19, 193, 172, 93);
}
.logo{
	display: inline-block;
	float: left;
	width: 33%;	
}
.explorer{
	display: inline-block;
	float: left;
	width: 33%;
}
.account{
	display: inline-block;
	float: left;
	width: 33%;
}