@CHARSET "ISO-8859-1";

body {
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
}

a {
	text-decoration: overline;
	color: blue;
}

.header {
	height: 50px;
	background-color: rgba(19, 193, 172, 93);
}

.logo {
	display: inline-block;
	float: left;
	width: 33%;
	height: 100%;
}

.explorer {
	display: inline-block;
	float: left;
	width: 33%;
	height: 100%;
}

.explorer_input {
	margin-top: 10px;
}

.account {
	display: inline-block;
	float: left;
	width: 33%;
	height: 100%;
}

#img_logo {
	width: 150px;
	margin-top: 5px;
}